.card {
    width: 100%;
    height: 115px;
    background-color: #62B957;
    border-radius: 10px;
    padding: 20px;
  
    position: relative;
  }
  
  .info {
   
  }
  
  .info__number {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: rgba(23, 23, 27, 0.6);
  }
  
  .info__name {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #ffffff;
  }
  
  .card__img {
    max-width: 100%;
    max-height: 130px;
    position: absolute;
    top: -40px;
    right: 10px;
  }